body {
	margin: 0;
}

* {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

/* Header styles */

.nav {
	background-color: #8db596;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 100px;
}

.ul {
	text-transform: uppercase;
	list-style: none;
	display: flex;
}

.ul li {
	margin: 0 15px;
}

.nav .logo{
	font: 40px 'Lobster', cursive;
}

.nav a {
	text-decoration: none;
	color: #393e46;
	font-size: 1.2em;
}

.footer {
	position: relative;
	bottom: 0px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #8db596;
	color: #393e46;
	padding: 20px 100px;
}

.socialMedias {
	display: flex;
}

.socialMedias li {
	list-style: none;
	margin-left: 16px;
}

.footer p {
	text-transform: uppercase;
	font-size: 14px;
	opacity: 0.8;
	align-self: center;
}

.socialMedias a {
	text-decoration: underline;
	color: white;
}

@media (max-width: 900px){
	.nav {
		padding: 50px 20px;
		flex-direction: column;
	}
	.logo {
		margin-bottom: 15px;
	}
}

@media (max-width:800px){
	.footer {
		flex-direction: column;
	}
	.footer p {
		text-align: center;
		margin-bottom: 20px;
	}
	.socialMedias li {
		margin: 0 8px;
	}
}

@media (max-width: 500px){
	.nav {
		padding: 50px 20px;
		flex-direction: column;
	}
	.ul li a{
		font-size: 15px;
	}
}